body {
  font-family: 'Rambla', sans-serif;
  padding: 20px 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFF9F1;
}

a {
  text-decoration: none;
  color: #4B3B2F;
}

* {
  box-sizing: border-box;
}
